@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
body {
    font-family: 'Open Sans','Roboto Regular', 'Roboto Light', 'sans-serif';
    background-color: black;
    background-size: contain;
    max-width: 80%;
    display: block;
    margin: 0 auto;
}

h2.name-main {
    font-size: 38px;
    text-shadow: 2px 1px #283A51;
}

h5.moto-main {
    font-size: 17px;
    text-shadow: 2px 1px #283A51;
}

nav.navbar-inv {
    position: absolute;
    top: 0;
    opacity: 0.9;
    background-color: #283A51;
    margin-left: -15px;
    min-width: 80%;
    max-width: 80%;
    max-height: 70px;
    padding-left: 4%
}

div ul li a {
    color: white;
}

div.search-btn {
    background-color: #283A51;
    color: white;
}

a.search:hover {
    background-color: whitesmoke;
    color: #283A51;
}

.mega-dropdown {
    position: static !important;
}

.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.mega-dropdown-menu>li>ul {
    padding: 0;
    margin: 0;
}

.mega-dropdown-menu>li>ul>li {
    list-style: none;
}

.mega-dropdown-menu>li>ul>li>a {
    display: block;
    color: darkblue;
    padding: 3px 5px;
}

.mega-dropdown-menu>li ul>li>a:hover, .mega-dropdown-menu>li ul>li>a:focus {
    text-decoration: none;
    color: orangered;
}

.mega-dropdown-menu .dropdown-header {
    font-size: 18px;
    color: black;
    padding: 5px 60px 5px 5px;
    line-height: 30px;
}

.dropdown-menu {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.dropdown-menu>li>a {
    color: darkblue;
    font-weight: bold;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    text-decoration: none;
    color: orangered;
}


/*.navbar-nav>li>a {
    border-right: 1px solid black;
}*/

.input-group {
    border: 2px solid #253B52;
    width: 245px;
    margin: 10px;
    background: transparent;
}

.input-group button {
    background-color: #253B52;
    color: white;
}


/*=========================================*/


/*  Landing Page  */


/*=========================================*/

header {
    background-image: url("images/cosmos.jpg");
    background-size: 100%, auto, contain;
    min-height: 420px;
    padding-top: 150px
}

.container {
    opacity: 0.9;
    width: 100%;
}

#apply-btn {
    display: block;
    margin: 0 auto;
    border: 1px solid #D94819;
    background-color: #D94819;
    color: white;
    min-width: 270px;
    min-height: 45px;
    margin-top: 50px;
    font-size: 18px
}

div.info-text {
    color: white;
    text-align: center;
    font-size: 18px
}

main {
    background-color: white;
    min-height: 150px;
    max-width: 100%;
}

.fieldset-container {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 3%;
}

fieldset {
    border: 2px solid grey;
    border-radius: 5px;
    min-height: 180px;
    text-align: center;
}

legend {
    text-decoration: none;
    border: 0;
    padding-top: 1%;
}

dl.legend-info {
    margin-top: -7%;
}

dd.legend-info {
    font-size: 12px;
    text-align: center;
    padding-top: 1%;
}

#front-end {
    color: #3EC144;
    max-width: 130px;
    font-weight: bold;
}

#web {
    color: #3E9EFF;
    max-width: 60px;
    font-weight: bold;
}

#mobile {
    color: #D94819;
    max-width: 90px;
    font-weight: bold;
}

#front-end-btn {
    background-color: #3EC144;
    border: 1px solid #3EC144;
    color: white;
}

#web-btn {
    background-color: #3E9EFF;
    border: 1px solid #3E9EFF;
    color: white;
}

#mobile-btn {
    background-color: #D94819;
    border: 1px solid #D94819;
    color: white;
}

nav.row.nav-bottom {
    color: white;
    background-color: #283A51;
    min-height: 100px;
    max-width: 100%;
    padding-left: 10%;
    padding-top: 2%;
}

footer {
    background-color: #1B2634;
    color: white;
    text-align: center;
    min-height: 30px;
    max-width: 100%;
}

.footer-link {
    display: inline-block;
}

.a-nav-bottom {
    color: white;
    font-size: 12px;
}

.a-nav-bottom:hover {
    text-decoration: none;
    color: orangered;
}

.ul-footer {
    margin-left: -40px;
    padding-top: 1%;
}

.a-nav-bottom-footer {
    padding-right: 15px;
}

li.dropdown a.dropdown-toggle.nav-main-btn, 
li.dropdown.mega-dropdown.nav-main-btn a.dropdown-toggle, #help-nav a, #user-profile-nav a i, #search-nav a, #language-nav a {
    color: white;
}

li.dropdown a.dropdown-toggle.nav-main-btn:hover, li.dropdown.mega-dropdown.nav-main-btn a.dropdown-toggle:hover, #user-profile-nav a i:hover, #search-nav a:hover, #help-nav a:hover, #user-profile-nav a:hover, #language-nav a:hover {
    color: orangered;
}

#small-size-logo {
    position: absolute;
    top: 8px;
    left: 60px;
    visibility: visible;
}

#small-size-logo {
    visibility: hidden;
}


/*=========================================*/


/* Media queries */


/*=========================================*/

@media screen and (max-width:1100px) {
    nav.navbar-inv {
        max-height: 120px;
    }
    #language-nav {
        margin-left: 692px
    }
}

@media screen and (max-width:1060px) {
    #language-nav {
        margin-top: -50px;
        margin-left: 645px
    }
    #user-profile-nav {
        margin-left: 590px
    }
    header {
        background-size: 130% 130%;
        background-repeat: no-repeat;
    }
}

@media screen and (max-width:991px) {
    dl.legend-info {
        margin-top: -1%;
    }
    .right-move {
        position: absolute;
        top: 190%;
        left: 50%;
    }
    .right-move-down {
        position: absolute;
        top: 218%;
        left: 50%;
    }
    nav.row.nav-bottom {
        min-height: 370px;
        max-width: 100%;
    }
    header {
        background-size: 120% 120%;
        background-repeat: no-repeat;
    }
}

@media screen and (max-width:967px) {
    #language-nav {
        margin-top: -50px;
        margin-left: 598px
    }
    #user-profile-nav {
        margin-left: 310px
    }
}

@media screen and (max-width:907px) {
    #language-nav {
        margin-top: -50px;
        margin-left: 510px
    }
    #user-profile-nav {
        margin-top: -50px;
        margin-left: 432px
    }
    #search-nav {
        margin-left: 25px
    }
    header {
        background-size: 115% 115%;
        background-repeat: no-repeat;
    }
}

@media screen and (max-width:790px) {
    header {
        background-size: 110% 110%;
        background-repeat: no-repeat;
    }
}

@media screen and (max-width:550px) {
    .right-move {
        position: inherit;
    }
    .right-move-down {
        position: inherit;
    }
    header {
        background-size: 105% 105%;
        background-repeat: no-repeat;
    }
    #small-size-logo {
        left: 40px;
    }
}

@media screen and (max-width:387px) {
    button#apply-btn {
        min-width: 200px;
    }
    header {
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    #small-size-logo {
        left: 20px;
    }
}