@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
body {
    font-family: 'Open Sans', 'Roboto Regular', 'Roboto Light', 'sans-serif';
    background-color: black;
    background-size: contain;
    max-width: 80%;
    display: block;
    margin: 0 auto;
}

h2.name-main {
    font-size: 38px;
    text-shadow: 2px 1px #283A51;
}

h5.moto-main {
    font-size: 17px;
    text-shadow: 2px 1px #283A51;
}

nav.navbar-inv {
    position: absolute;
    top: -5px;
    opacity: 1;
    background-color: #3D4E62;
    margin-left: -15px;
    min-width: 80%;
    max-width: 80%;
    max-height: 70px;
    padding-left: 4%
}

div ul li a {
    color: white;
}

div.search-btn {
    background-color: #3D4E62;
    color: white;
}

a.search:hover {
    background-color: whitesmoke;
    color: #283A51;
}

.mega-dropdown {
    position: static !important;
}

.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-bottom: 2px solid #253B52;
}

.mega-dropdown-menu>li.right-mark {
    border-right: 1px solid #4671B5;
}

.mega-dropdown-menu>li>ul {
    padding-left: 5%;
    margin: 0;
}

.mega-dropdown-menu>li>ul>li {
    list-style: none;
}

.mega-dropdown-menu>li>ul>li>a {
    display: block;
    color: #46A3B5;
    padding: 3px 5px;
}

.mega-dropdown-menu>li ul>li>a:hover, .mega-dropdown-menu>li ul>li>a:focus {
    text-decoration: none;
    color: orangered;
}

.mega-dropdown-menu .dropdown-header {
    font-size: 18px;
    color: #1E4B6A;
    padding: 5px 60px 5px 5px;
    line-height: 30px;
}

ul.dropdown-menu {
    box-shadow: none;
    -webkit-box-shadow: none;
}

ul.dropdown-menu>li>a {
    color: #46A3B5;
    font-weight: bold;
}

.dropdown-menu>li>a:hover, .dropdown-menu.user-hover>li>a:hover {
    text-decoration: none;
    color: orangered;
}

.navbar-nav>li>a {
    height: 40px;
    border-right: 1px solid black;
}

.navbar-nav>li>a.border-right {
    height: 40px;
    border-right: 0pt;
}

.input-group {
    border: 2px solid #253B52;
    width: 92%;
    margin: 40px;
    background: transparent;
    padding: 5px;
}

.input-group input {
    border: 1px solid transparent;
    border-radius: initial;
    margin-left: -1px;
    height: 36px;
}

.input-group button {
    background-color: #D94819;
    color: white;
    border: 1px solid #D94819;
    border-radius: initial;
}

.input-group button:hover {
    background-color: white;
    color: #D94819;
    font-weight: bolder;
    border: 1px solid #253B52;
    border-radius: initial;
}


/*=========================================*/


/*  Landing Page  */


/*=========================================*/

header {
    background-image: url("images/cosmos.jpg");
    background-size: 100%, auto, contain;
    min-height: 420px;
    padding-top: 150px
}

.container {
    opacity: 0.9;
    width: 100%;
}

#apply-btn {
    display: block;
    margin: 0 auto;
    border: 1px solid #D94819;
    background-color: #D94819;
    color: white;
    min-width: 270px;
    min-height: 45px;
    margin-top: 50px;
    font-size: 18px
}

div.info-text {
    color: white;
    text-align: center;
    font-size: 18px
}

main {
    background-color: white;
    min-height: 150px;
    max-width: 100%;
}

.fieldset-container {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 3%;
}

fieldset {
    border: 2px solid #c4bfc9;
    border-radius: 5px;
    min-height: 180px;
    text-align: center;
}

#fieldset-front-end {
    margin-left: 10px;
}

#fieldset-mobile {
    margin-right: 10px;
}

legend {
    text-decoration: none;
    border: 0;
    padding-top: 1%;
}

dl.legend-info {
    margin-top: -7%;
}

dd.legend-info {
    font-size: 12px;
    text-align: center;
    padding-top: 1%;
}

#front-end {
    color: #3EC144;
    max-width: 130px;
    font-weight: bold;
}

#web {
    color: #46A3B5;
    max-width: 60px;
    font-weight: bold;
}

#mobile {
    color: #D94819;
    max-width: 90px;
    font-weight: bold;
}

#front-end-btn {
    background-color: #3EC144;
    border: 1px solid #3EC144;
    color: white;
}

#web-btn {
    background-color: #46A3B5;
    border: 1px solid #46A3B5;
    color: white;
}

#mobile-btn {
    background-color: #D94819;
    border: 1px solid #D94819;
    color: white;
}

nav.row.nav-bottom {
    color: white;
    background-color: #1E4B6A;
    min-height: 100px;
    max-width: 100%;
    padding-left: 5%;
    padding-top: 2%;
}

footer {
    background-color: #1B2634;
    color: white;
    text-align: center;
    min-height: 30px;
    max-width: 100%;
}

.footer-link {
    display: inline-block;
}

.a-nav-bottom, li.footer-link.copyright {
    color: white;
    font-size: 12px;
}

.a-nav-bottom:hover {
    text-decoration: none;
    color: orangered;
}

.ul-footer {
    margin-left: -40px;
    padding-top: 1%;
}

.a-nav-bottom-footer {
    padding-right: 15px;
}

li.dropdown a.dropdown-toggle.nav-main-btn, li.dropdown.mega-dropdown.nav-main-btn a.dropdown-toggle, #help-nav a, #user-profile-nav a.search, #search-nav a, #language-nav a {
    color: white;
}

li.dropdown a.dropdown-toggle.nav-main-btn:hover, li.dropdown.mega-dropdown.nav-main-btn a.dropdown-toggle:hover, #user-profile-nav.search a:hover, #search-nav a:hover, #help-nav a:hover, #language-nav a:hover {
    color: #3D4E62;
    font-weight: bolder;
    background-color: white;
}

#small-size-logo {
    visibility: hidden;
}

img.notification-box {
    position: absolute;
}

#user-profile-massages-nav ul {
    border-bottom: 2px solid #253B52;
}

#user-profile-massages-nav ul li div {
    color: #3D4E62;
    background-color: #B4DAE3;
    border: 1px solid #B4DAE3;
    border-radius: 2px;
    width: 96%;
    margin-left: 2%;
    padding: 2%;
}

.massage-container {
    margin-bottom: 20px;
}

.msg-btn {
    color: white;
    min-width: 15%;
    height: 30px;
    margin-top: 20px;
}

.choose {
    margin-left: 60%;
    background-color: #D94819;
    border: 1px solid #D94819;
}

.miss {
    background-color: #3D4E62;
    border: 1px solid #3D4E62;
}

#msg-num {
    position: absolute;
    width: 12px;
    top: 4%;
    left: 56%;
    color: white;
    background-color: #D94819;
    border: 1px solid#D94819;
    border-radius: 5px;
    text-align: center;
}


/*=========================================*/


/* Media queries */


/*=========================================*/

@media screen and (max-width:1145px) {
    nav.navbar-inv {
        max-height: 120px;
    }
    #language-nav {
        margin-left: 710px;
    }
}

@media screen and (max-width:1100px) {
    nav.navbar-inv {
        max-height: 120px;
    }
    #language-nav {
        margin-left: 710px;
    }
    #user-profile-massages-nav {
        margin-left: 640px;
    }
}

@media screen and (max-width:1060px) {
    #language-nav {
        margin-top: -40px;
        margin-left: 655px
    }
    #user-profile-massages-nav {
        margin-top: -40px;
        margin-left: 580px;
    }
    #user-profile-nav {
        margin-left: 490px
    }
    header {
        background-size: 130% 130%;
        background-repeat: no-repeat;
    }
}

@media screen and (max-width:991px) {
    dl.legend-info {
        margin-top: -1%;
    }
    .right-move {
        position: absolute;
        top: 190%;
        left: 50%;
    }
    .right-move-down {
        position: absolute;
        top: 218%;
        left: 50%;
    }
    nav.row.nav-bottom {
        min-height: 370px;
        max-width: 100%;
    }
    header {
        background-size: 120% 120%;
        background-repeat: no-repeat;
    }
}

@media screen and (max-width:965px) {
    #language-nav {
        margin-top: -40px;
        margin-left: 480px
    }
    #user-profile-nav {
        margin-top: 0;
        margin-left: 120px
    }
    #user-profile-massages-nav {
        margin-left: 400px;
    }
    #search-nav {
        margin-left: 150px
    }
    header {
        background-size: 115% 115%;
        background-repeat: no-repeat;
    }
}

@media screen and (max-width:900px) {
    #language-nav {
        margin-top: -40px;
        margin-left: 528px
    }
    #user-profile-nav {
        margin-top: 0px;
        margin-left: 50px
    }
}

@media screen and (max-width:767px) {
    header {
        background-size: 110% 110%;
        background-repeat: no-repeat;
    }
    .js-navbar-collapse {
        position: absolute;
        background-color: #283A51;
        min-width: 100%;
        min-height: 360px;
        overflow: hidden;
        margin-left: -5%;
    }
    .mega-dropdown-menu .dropdown-header {
        color: lightgrey;
        margin-left: -22px;
    }
    #msg-num {
        top: -3px;
        left: 32px;
    }
    .choose {
        margin-left: 30%;
    }
    #language-nav {
        margin-left: 0;
        margin-top: 10px;
    }
    #user-profile-nav {
        margin-left: 0;
    }
    #user-profile-massages-nav {
        margin-left: 0;
        margin-top: 5px;
    }
    #search-nav {
        margin-left: 0;
    }
    #small-size-logo {
        visibility: visible;
        position: absolute;
        top: 8px;
        left: 60px;
    }
}

@media screen and (max-width:550px) {
    .right-move {
        position: inherit;
    }
    .right-move-down {
        position: inherit;
    }
    header {
        background-size: 105% 105%;
        background-repeat: no-repeat;
    }
}

@media screen and (max-width:387px) {
    button#apply-btn {
        min-width: 200px;
    }
    header {
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    #small-size-logo {
        left: 20px;
    }
}