@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
* {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', 'Roboto Regular', 'Roboto Light', 'sans-serif';
    background-color: black;
    background-size: contain;
    max-width: 80%;
    display: block;
    margin: 0 auto;
}

h2.name-main {
    font-size: 38px;
    text-shadow: 2px 1px #283A51;
}

h5.moto-main {
    font-size: 17px;
    text-shadow: 2px 1px #283A51;
}

nav.navbar-inv {
    position: absolute;
    top: -5px;
    opacity: 1;
    background-color: #3D4E62;
    margin-left: -15px;
    min-width: 80%;
    max-width: 80%;
    max-height: 70px;
    padding-left: 4%
}

div ul li a {
    color: white;
}

div.search-btn {
    background-color: #3D4E62;
    color: white;
}

a.search:hover {
    background-color: whitesmoke;
    color: #283A51;
}

.mega-dropdown {
    position: static !important;
}

.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.mega-dropdown-menu>li>ul {
    padding: 0;
    margin: 0;
}

.mega-dropdown-menu>li>ul>li {
    list-style: none;
}

.mega-dropdown-menu>li>ul>li>a {
    display: block;
    color: darkblue;
    padding: 3px 5px;
}

.mega-dropdown-menu>li ul>li>a:hover, .mega-dropdown-menu>li ul>li>a:focus {
    text-decoration: none;
    color: orangered;
}

.mega-dropdown-menu .dropdown-header {
    font-size: 18px;
    color: black;
    padding: 5px 60px 5px 5px;
    line-height: 30px;
}

.dropdown-menu {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.dropdown-menu>li>a {
    color: darkblue;
    font-weight: bold;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    text-decoration: none;
    color: orangered;
}

.navbar-nav>li>a {
    height: 40px;
    border-right: 1px solid black;
}

.navbar-nav>li>a.border-right {
    height: 40px;
    border-right: 0px solid transparent;
}

.input-group {
    border: 2px solid #253B52;
    width: 245px;
    margin: 10px;
    background: transparent;
}

.input-group button {
    background-color: #253B52;
    color: white;
}


/*=========================================*/


/*  Landing Page  */


/*=========================================*/

header {
    background-image: url("images/cosmos.jpg");
    background-size: 100%, auto, contain;
    min-height: 420px;
    padding-top: 150px
}

.container {
    opacity: 0.9;
    width: 100%;
}

#apply-btn {
    display: block;
    margin: 0 auto;
    border: 1px solid #D94819;
    background-color: #D94819;
    color: white;
    min-width: 270px;
    min-height: 45px;
    margin-top: 50px;
    font-size: 18px
}

div.info-text {
    color: white;
    text-align: center;
    font-size: 18px
}

main {
    background-color: white;
    min-height: 150px;
    max-width: 100%;
}

.fieldset-container {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 3%;
}

fieldset {
    border: 2px solid grey;
    border-radius: 5px;
    min-height: 180px;
    text-align: center;
}

#fieldset-front-end {
    margin-left: 10px;
}

#fieldset-mobile {
    margin-right: 10px;
}

legend {
    text-decoration: none;
    border: 0;
    padding-top: 1%;
}

dl.legend-info {
    margin-top: -7%;
}

dd.legend-info {
    font-size: 12px;
    text-align: center;
    padding-top: 1%;
}

#front-end {
    color: #3EC144;
    max-width: 130px;
    font-weight: bold;
}

#web {
    color: #46A3B5;
    max-width: 60px;
    font-weight: bold;
}

#mobile {
    color: #D94819;
    max-width: 90px;
    font-weight: bold;
}

#front-end-btn {
    background-color: #3EC144;
    border: 1px solid #3EC144;
    color: white;
}

#web-btn {
    background-color: #46A3B5;
    border: 1px solid #46A3B5;
    color: white;
}

#mobile-btn {
    background-color: #D94819;
    border: 1px solid #D94819;
    color: white;
}

nav.row.nav-bottom {
    color: white;
    background-color: #1E4B6A;
    min-height: 100px;
    max-width: 100%;
    padding-left: 5%;
    padding-top: 2%;
}

footer {
    background-color: #1B2634;
    color: white;
    text-align: center;
    min-height: 30px;
    max-width: 100%;
}

.footer-link {
    display: inline-block;
}

.a-nav-bottom, li.footer-link.copyright {
    color: white;
    font-size: 12px;
}

.a-nav-bottom:hover {
    text-decoration: none;
    color: orangered;
}

.ul-footer {
    margin-left: -40px;
    padding-top: 1%;
}

.a-nav-bottom-footer {
    padding-right: 15px;
}

li.dropdown a.dropdown-toggle.nav-main-btn, li.dropdown.mega-dropdown.nav-main-btn a.dropdown-toggle, #help-nav a, #user-profile-nav a.search, #search-nav a, #language-nav a {
    color: white;
}

li.dropdown a.dropdown-toggle.nav-main-btn:hover, li.dropdown.mega-dropdown.nav-main-btn a.dropdown-toggle:hover, #user-profile-nav a.search:hover, #user-profile-nav a:hover, #search-nav a:hover, #help-nav a:hover, #user-profile-nav a img:hover, #language-nav a:hover {
    color: #3D4E62;
    font-weight: bolder;
    background-color: white;
}

#small-size-logo {
    position: absolute;
    top: 8px;
    left: 60px;
    visibility: visible;
}

#small-size-logo {
    visibility: hidden;
}

/*start forum threads styles*/

#forum-threads{
    margin-top:41px;
    /*border: 1px solid black*/
}
#forum-threads a{
    color: #2f8eb8
}
#forum-threads a:hover{
    color: #ff6358
}

#forum-well-box {
    vertical-align: middle;    
    padding-left: 15px;
    font-size: 12px;
    background-color: white;
}
#primary-btn{
    background-color: #d94818;
    color: white; 
}
#primary-btn:hover{
    background-color: #F86859;
}
#primary-btn2{
    background-color: #283A51;
    color: white; 
}
#primary-btn2:hover{
    background-color: #666;
}

#forum-btns-group{
    padding-left: 10px;
}
.thread-group{
    padding-left: 8%;
    margin-top:-15px; 
}
.author-position{
    padding-left: 10px;
    font-size: 14px;
    margin-top: -10px;
}
.author-name{
    font-size: 12px;
}

.threads-hr-line{
    height: 1px;
    background-color: #e1e5ea;
    clear: both;
    max-width: 100%;
}
.thread-position{
float: left;
}
#tread-name-position{
    margin-bottom: 10px; 
}
#post-creator{
    margin-top: 1%;
    margin-left:5%; 
}
#user-position{
    font-size: 12px;
}
#user-img{
    margin-top:5%; 
}
.thread-font-size{
    font-size: 14px;  
}
.thread-small-margin p{
margin: 0;
padding: 0;
}
#likes-views{
    margin-left:15px; 
    margin-right:50px; 
    margin-top:20px; 
    font-size: 13px;
    text-align: right;
}
#btn-radius button{
    border-radius:0;
    margin-left:20px;  
}
    /*start search button styles*/
#forum-search{
    float: right;
    margin: 0;
    margin-right:10px; 
    width: 50%;
}
#forum-search input {
    border-radius:0; 
}
    /*end search button styles*/
/*end forum threads styles*/

/*=========================================*/


/* Media queries */


/*=========================================*/
@media screen and (max-width:1440px) {
    #post-creator{
    margin-left:15%; 
    }
    
}
@media screen and (max-width:1280px) {
    #post-creator{
    margin-left:5%; 
    margin-top:1%; 
    }
    
}


@media screen and (max-width:1101px) {
#forum-threads{
    margin-top:70px;
    /*border: 1px solid black*/
}
@media screen and (max-width:767px) {
#forum-threads{
    margin-top:41px;
    /*border: 1px solid black*/
}
}
@media screen and (max-width:1100px) {
    nav.navbar-inv {
        max-height: 120px;
    }
    #language-nav {
        margin-left: 710px
    }
    #post-creator{
    margin-top: 2%;
    margin-left:2%; 
    }
    #likes-views{ 
    margin-right:30px; 
    margin-top:20px; 
    font-size: 13px;
    text-align: right;
    
    }
    .thread-group{
    padding-left: 3%;
    }
    .thread-font-size{
    font-size: 11px;
    }


}

@media screen and (max-width:1060px) {
    #language-nav {
        margin-top: -40px;
        margin-left: 655px
    }
    #user-profile-nav {
        margin-left: 590px
    }
    header {
        background-size: 130% 130%;
        background-repeat: no-repeat;
    }
    #forum-search{
    width: 45%;
    }
}

@media screen and (max-width:991px) {
    dl.legend-info {
        margin-top: -1%;
    }
    .right-move {
        position: absolute;
        top: 190%;
        left: 50%;
    }
    .right-move-down {
        position: absolute;
        top: 218%;
        left: 50%;
    }
    nav.row.nav-bottom {
        min-height: 370px;
        max-width: 100%;
    }
    header {
        background-size: 120% 120%;
        background-repeat: no-repeat;
    }
    .thread-group{
    padding-left: 1%;
    }
    #post-creator{
    margin-top: 2%;
    margin-left:2%; 
    }
    #likes-views{ 
    margin-right:15px; 
    margin-top:20px; 
    font-size: 10px;
    text-align: right;
    }
    .thread-font-size{
    font-size: 10px;
    }
}
@media screen and (max-width:870px) {
    #forum-search{
    margin-top:1%;
    width: 95.5%;
    margin-bottom: 1%; 
    }
    #btn-radius button{
    margin-left:15px;  
    }
    #post-creator{
    margin-top: 0%;
    margin-left:6%; 
    }
     #likes-views{ 
    font-size: 13px;
    text-align: right;
    margin-top:12.8%;
    margin-left:11%;
    }
    #tread-name-position{
    margin-left: -15%;
    }
    #forum-threads-heading{
        font-size: 30px;
    }

}
@media screen and (max-width:818px) {
  #likes-views{ 
    font-size: 13px;
    text-align: right;
    margin-top:12.8%;
    margin-left:11%;
    }
    #tread-name-position{
    margin-left: -15%;
    }
    #forum-threads-heading{
        font-size: 27px;
    }
}
@media screen and (max-width:801px) {
    #forum-search{
    margin-top:1%;
    width: 95.8%;
    margin-bottom: 1%;

    }
}
@media screen and (max-width:750px) {
  #likes-views{ 
    font-size: 13px;
    text-align: right;
    margin-top:13.8%;
    margin-left:11%;
    }
    #tread-name-position{
    margin-left: -15%;
    }
    #forum-threads-heading{
        font-size: 23px;
    }
}
@media screen and (max-width:670px) {
  #likes-views{ 
    font-size: 11px;
    text-align: right;
    margin-top:14.8%;
    margin-left:8%;
    }
    #tread-name-position{
    margin-left: -15%;
    }
    #forum-threads-heading{
        font-size: 21px;
    }
}
@media screen and (max-width:580px) {
  #likes-views{ 
    font-size: 10px;
    text-align: right;
    margin-top:17.8%;
    margin-left:8%;
    }
    #tread-name-position{
    margin-left: -18%;
    }
    #forum-threads-heading{
        font-size: 19px;
    }
    .author-name{
    font-size: 10px;
    }
     .badge{
        font-size: 8px;
    }
    #user-img{
        width:30px;
        height:30px;
    }
}
@media screen and (max-width:505px) {
  #likes-views{ 
    font-size: 10px;
    text-align: right;
    margin-top:17.8%;
    margin-left:8%;
    }
    #tread-name-position{
    margin-left: -18%;
    }
    #forum-threads-heading{
        font-size: 15px;
    }
    .author-name{
    font-size: 8px;
    }
     .badge{
        font-size: 8px;
    }
    #user-img{
        width:30px;
        height:30px;
    }
}
@media screen and (max-width:481px) {
  #likes-views{ 
    font-size: 8px;
    text-align: right;
    margin-top:20.8%;
    margin-left:7%;
    }
    #tread-name-position{
    margin-left: -19%;
    }
    #forum-threads-heading{
        font-size: 12px;
    }
    .author-position{
    font-size: 7px;
    }
    .author-name{
    font-size: 8px;
    }
    .thread-font-size{
        font-size: 9px;
    }
    #user-position{
        font-size: 9px;
    }
    #user-img{
        width:30px;
        height:30px;
    }
      .badge{
        font-size: 7px;
    }
}
@media screen and (max-width:390px) {
  #likes-views{ 
    font-size: 8px;
    text-align: right;
    margin-top:20.8%;
    margin-left:7%;
    }
    #tread-name-position{
    margin-left: -19%;
    }
    #forum-threads-heading{
        font-size: 12px;
    }
    .author-position{
    font-size: 7px;
    }
    .author-name{
    font-size: 8px;
    }
    .thread-font-size{
        font-size: 9px;
    }
    #user-position{
        font-size: 9px;
    }
    #user-img{
        width:30px;
        height:30px;
    }
      .badge{
        font-size: 7px;
    }
}
@media screen and (max-width:349px) {
  #likes-views{ 
    font-size: 8px;
    text-align: right;
    margin-top:22.8%;
    margin-left:7%;
    }
    #tread-name-position{
    margin-left: -22%;
    }
    #forum-threads-heading{
        font-size: 11px;
    }
    .author-position{
    font-size: 6px;
    }
    .author-name{
    font-size: 7px;
    }
    .thread-font-size{
        font-size: 8px;
    }
    #user-position{
        font-size: 8px;
    }
    #user-img{
        width:25px;
        height:25px;
    }
      .badge{
        font-size: 6px;
    }
}
@media screen and (max-width:680px) {
    #forum-search{
    margin-top:1%;
    width: 93.5%;
    margin-bottom: 1%; 
    }
}
@media screen and (max-width:550px) {
    #forum-search{
    margin-top:1%;
    width: 92%;
    margin-bottom: 1%; 
    }
}
@media screen and (max-width:450px) {
    #forum-search{
    margin-top:1%;
    width: 93%;
    margin-bottom: 1%; 
    }
    #primary-btn{
    width: 46%;
    font-size: 14px;
    }
    #primary-btn2{
    width: 41.5%;
    font-size: 12px;
    }
    #btn-radius button{
    margin-left:15px;  
    }
    #forum-well-box {
    font-size: 8px;
    }

}
@media screen and (max-width:375px) {
    #forum-search{
    margin-top:1%;
    width: 91.8%;
    margin-bottom: 1%; 
    margin-right:15px; 
    }
    #primary-btn{
    width: 46%;
    font-size: 13px;
    }
    #primary-btn2{
    width: 41.5%;
    font-size: 11px;
    }
    #btn-radius button{
    margin-left:10px;  
    }
    #forum-well-box {
    font-size: 7px;
    }

}
@media screen and (max-width:320px) {
    #forum-search{
    margin-top:1%;
    width: 91.6%;
    margin-bottom: 1%; 
    margin-right:10px;
    }
    #primary-btn{
    width: 46%;
    font-size: 11px;
    }
    #primary-btn2{
    width: 41.5%;
    font-size: 10px;
    }
    #btn-radius button{
    margin-left:10px;  
    }
    #forum-well-box {
    font-size: 7px;
    }
}

}
@media screen and (max-width:965px) {
    #language-nav {
        margin-top: -40px;
        margin-left: 600px
    }
    #user-profile-nav {
        margin-top: 0;
        margin-left: 232px
    }
    #search-nav {
        margin-left: 150px
    }
    header {
        background-size: 115% 115%;
        background-repeat: no-repeat;
    }

}

@media screen and (max-width:900px) {
    #language-nav {
        margin-top: 0px;
        margin-left: 128px
    }
    #user-profile-nav {
        margin-top: 0px;
        margin-left: 70px
    }
}


@media screen and (max-width:767px) {
    header {
        background-size: 110% 110%;
        background-repeat: no-repeat;
    }
    .js-navbar-collapse {
        position: absolute;
        background-color: #283A51;
        min-width: 100%;
        min-height: 260px;
        overflow: hidden;
        margin-left: -5%;
    }
    #language-nav {
        margin-left: 0;
    }
    #user-profile-nav {
        margin-left: 0;
    }
    #search-nav {
        margin-left: 0;
    }
}

@media screen and (max-width:550px) {
    .right-move {
        position: inherit;
    }
    .right-move-down {
        position: inherit;
    }
    header {
        background-size: 105% 105%;
        background-repeat: no-repeat;
    }
}

@media screen and (max-width:387px) {
    button#apply-btn {
        min-width: 200px;
    }
    header {
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    #small-size-logo {
        left: 20px;
    }
}