/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
body {
    font-family: 'Open Sans', 'Roboto Regular', 'Roboto Light', 'sans-serif';
    background-color: black;
    background-size: contain;
    max-width: 80%;
    display: block;
    margin: 0 auto;
}

h2.name-main {
    font-size: 38px;
    text-shadow: 2px 1px #283A51;
}

h5.moto-main {
    font-size: 17px;
    text-shadow: 2px 1px #283A51;
}

nav.navbar-inv {
    position: absolute;
    top: -5px;
    opacity: 1;
    background-color: #3D4E62;
    margin-left: -15px;
    min-width: 80%;
    max-width: 80%;
    max-height: 70px;
    padding-left: 4%
}

div ul li a {
    color: white;
}

div.search-btn {
    background-color: #3D4E62;
    color: white;
}

a.search:hover {
    background-color: whitesmoke;
    color: #283A51;
}

.mega-dropdown {
    position: static !important;
}

.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.mega-dropdown-menu>li>ul {
    padding: 0;
    margin: 0;
}

.mega-dropdown-menu>li>ul>li {
    list-style: none;
}

.mega-dropdown-menu>li>ul>li>a {
    display: block;
    color: #46A3B5;
    padding: 3px 5px;
}

.mega-dropdown-menu>li ul>li>a:hover, .mega-dropdown-menu>li ul>li>a:focus {
    text-decoration: none;
    color: orangered;
}

.mega-dropdown-menu .dropdown-header {
    font-size: 18px;
    color: #1E4B6A;
    padding: 5px 60px 5px 5px;
    line-height: 30px;
}

.dropdown-menu {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.dropdown-menu>li>a {
    color: #46A3B5;
    font-weight: bold;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    text-decoration: none;
    color: orangered;
}

.navbar-nav>li>a {
    height: 40px;
    border-right: 1px solid black;
}

.navbar-nav>li>a.border-right {
    height: 40px;
    border-right: 0pt;
}

.input-group {
    border: 2px solid #253B52;
    width: 245px;
    margin: 10px;
    background: transparent;
}

.input-group button {
    background-color: #253B52;
    color: white;
}*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
body {
    font-family: 'Open Sans', 'Roboto Regular', 'Roboto Light', 'sans-serif';
    background-color: black;
    background-size: contain;
    max-width: 80%;
    display: block;
    margin: 0 auto;
}

h2.name-main {
    font-size: 38px;
    text-shadow: 2px 1px #283A51;
}

h5.moto-main {
    font-size: 17px;
    text-shadow: 2px 1px #283A51;
}

nav.navbar-inv {
    position: absolute;
    top: -5px;
    opacity: 1;
    background-color: #3D4E62;
    margin-left: -15px;
    min-width: 80%;
    max-width: 80%;
    max-height: 70px;
    padding-left: 4%
}

div ul li a {
    color: white;
}

div.search-btn {
    background-color: #3D4E62;
    color: white;
}

a.search:hover {
    background-color: whitesmoke;
    color: #283A51;
}

.mega-dropdown {
    position: static !important;
}

.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-bottom: 2px solid #253B52; 
}

.mega-dropdown-menu>li.right-mark{
    border-right: 1px solid #4671B5;
}

.mega-dropdown-menu>li>ul {
    padding-left: 5%;
    margin: 0;
}

.mega-dropdown-menu>li>ul>li {
    list-style: none;
}

.mega-dropdown-menu>li>ul>li>a {
    display: block;
    color: #46A3B5;
    padding: 3px 5px;
}

.mega-dropdown-menu>li ul>li>a:hover, .mega-dropdown-menu>li ul>li>a:focus {
    text-decoration: none;
    color: orangered;
}

.mega-dropdown-menu .dropdown-header {
    font-size: 18px;
    color: #1E4B6A;
    padding: 5px 60px 5px 5px;
    line-height: 30px;
}

ul.dropdown-menu {
    box-shadow: none;
    -webkit-box-shadow: none;
}

ul.dropdown-menu>li>a {
    color: #46A3B5;
    font-weight: bold;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    text-decoration: none;
    color: orangered;
}

.navbar-nav>li>a {
    height: 40px;
    border-right: 1px solid black;
}

.navbar-nav>li>a.border-right {
    height: 40px;
    border-right: 0pt;
}

.input-group {
    border: 2px solid #253B52;
    width: 92%;
    margin: 40px;
    background: transparent;
    padding: 5px;
}

.input-group input {
    border: 1px solid transparent;
    border-radius: initial;
    margin-left: -1px;
    height: 36px;
}

.input-group button {
    background-color: #D94819;
    color: white;
    border: 1px solid #D94819;
    border-radius: initial;
}
.input-group button:hover {
    background-color: white;
    color: #D94819;
    font-weight: bolder;
    border: 1px solid #253B52;
    border-radius: initial;
}


/*=========================================*/


/*  Landing Page  */


/*=========================================*/

header {
    background-image: url("cosmos.jpg");
    background-size: 100%, auto, contain;
    min-height: 420px;
}

#apply-btn {
    display: block;
    margin: 0 auto;
    border: 1px solid #D94819;
    background-color: #D94819;
    color: white;
    min-width: 270px;
    min-height: 45px;
    margin-top: 50px;
    font-size: 18px
}

div.info-text {
    color: white;
    text-align: center;
    font-size: 18px
}

main {
    background-color: white;
    min-height: 150px;
    max-height: 1000px;
    max-width: 100%;
}

.fieldset-container {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 3%;
}

fieldset {
    border: 2px solid grey;
    border-radius: 5px;
    min-height: 180px;
    text-align: center;
}

legend {
    text-decoration: none;
    border: 0;
    padding-top: 1%;
}

dl.legend-info{
    margin-top: -7%;
}

dd.legend-info {
    font-size: 12px;
    text-align: center;
    padding-top: 1%;
}

#front-end {
    color: #3EC144;
    max-width: 130px;
    font-weight: bold;
}

#web {
    color: #3E9EFF;
    max-width: 60px;
    font-weight: bold;
}

#mobile {
    color: #D94819;
    max-width: 90px;
    font-weight: bold;
}

#front-end-btn {
    background-color: #3EC144;
    border: 1px solid #3EC144;
    color: white;
}

#web-btn {
    background-color: #3E9EFF;
    border: 1px solid #3E9EFF;
    color: white;
}

#mobile-btn {
    background-color: #D94819;
    border: 1px solid #D94819;
    color: white;
}

nav.row.nav-bottom {
    color: white;
    background-color: #1E4B6A;
    min-height: 100px;
    max-width: 100%;
    padding-left: 5%;
    padding-top: 2%;
}

footer {
    background-color: #1B2634;
    color: white;
    text-align: center;
    min-height: 30px;
    max-width: 100%;
}
.footer-link {
    display: inline-block;
}

.a-nav-bottom {
    color: white;
    font-size: 12px;
}

.a-nav-bottom:hover {
    text-decoration: none;
    color: orangered;
}

.ul-footer {
    padding-top: 1%;
}

.a-nav-bottom-footer {
    padding-right: 15px;
}

li.dropdown a.dropdown-toggle.nav-main-btn, li.dropdown.mega-dropdown.nav-main-btn a.dropdown-toggle, #help-nav a, #user-profile-nav a.search, #search-nav a, #language-nav a {
    color: white;
}

li.dropdown a.dropdown-toggle.nav-main-btn:hover, li.dropdown.mega-dropdown.nav-main-btn a.dropdown-toggle:hover, #user-profile-nav a.search:hover, #user-profile-nav a:hover, #search-nav a:hover, #help-nav a:hover, #user-profile-nav a img:hover, #language-nav a:hover {
    color: #3D4E62;
    font-weight: bolder;
    background-color: white;
}

#small-size-logo {
    position: absolute;
    top: 8px;
    left: 60px;
    visibility: visible;
}

#small-size-logo {
    visibility: hidden;
}


/*=========================================*/


/* Media queries */


/*=========================================*/




/*start search button styles*/
.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
    #adv-search {
        width: 500px;
        margin: 0 auto;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
}
#search-btn-askQ{
    float: right;
}
/*end search button styles*/



/* Start Single forum post styles*/

#forum-threads{
    margin-top:61px;
    /*border: 1px solid black*/
}
#forum-threads a{
    color: #2f8eb8
}
#forum-threads a:hover{
    color: #ff6358;
    text-decoration: none;
}

#forum-well-box {
    vertical-align: middle;    
    text-decoration: none;
    padding-top: 7px;
    padding-left: 10px;
    font-size: 12px;
    background-color: white;
}

.thread-heading {
    color: #000;
    text-transform: uppercase;
}

#thread-category {
    text-decoration: underline;
    color: #1B2634;
    font-size: 22px;
    font-weight: normal;
}

#thread-exam {
    text-decoration: underline;
    color: #2f8eb8;
    font-size: 18px;
    font-weight: normal;
    padding-left: 15px;
}

.answer-button {
    float: left;
}


#category {
     padding-left: 10px; 
}

#button-comment {
    padding-top: 10px;
}

/*.threads-hr-line{
    height: 1px;
    background-color: #e1e5ea;
    max-width: 1000px;
    clear: both;
}*/

.thread-group{
    padding-left: 20px;
}

#primary-btn{
    background-color: #d94818;
    color: white; 
    border-radius: 0px;
    margin-left: 40px;
    padding-left: 40px;
    padding-right: 40px;
    text-transform: uppercase;
}

#primary-btn:hover{
    background-color: #F86859;
}

#primary-btn2{
    background-color: #283A51;
    color: white; 
    border-radius: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    text-transform: uppercase;
}
#primary-btn2:hover{
    background-color: #666;
}

.answers-points {
    text-transform: uppercase;
    font-weight: bold;
}


/*End Single forum post styles*/