body {
    font-family: 'Roboto', 'sans-serif';
    margin: 0;
    padding: 0;
}

.container {
    margin: 0;
    padding: 0;
}

.mega-dropdown {
    position: static !important;
}

.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.mega-dropdown-menu>li>ul {
    padding: 0;
    margin: 0;
}

.mega-dropdown-menu>li>ul>li {
    list-style: none;
}

.mega-dropdown-menu>li>ul>li>a {
    display: block;
    color: darkblue;
    padding: 3px 5px;
}

.mega-dropdown-menu>li ul>li>a:hover,
.mega-dropdown-menu>li ul>li>a:focus {
    text-decoration: none;
    color: orangered;
}

.mega-dropdown-menu .dropdown-header {
    font-size: 18px;
    color: black;
    padding: 5px 60px 5px 5px;
    line-height: 30px;
}

.dropdown-menu {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.dropdown-menu>li>a {
    color: darkblue;
    font-weight: bold;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    text-decoration: none;
    color: orangered;
}

.container {
    opacity: 0.8;
    width: 100%;
}

.navbar-nav>li>a {
    border-left: 1px solid black;
}


#logo {
    width: 130px;
    height: 30px;
    margin-top: -9px
}

#profile-btn {
    width: 16px;
    height: 16px;
    margin-top: -3px;
}

.input-group {
    width: 300px;
    margin: 10px;
}
dropdown>ul {
    padding: 0;
    margin: 0;
}